<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script>
        const senderID = "<%= senderID %>"
    </script>

    <title>Học phần còn lại</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Load custom Javascript and CSS-->
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/learn-rest.js"></script>

</head>

<body>
    <div class="container fix-height content-webview">
        <div class="row">
            <div class="col-12">
                <div class="text-center mt-3">
                    <span class="title">Thông tin sinh viên</span>
                </div>
                <input type="text" id="psid" hidden>
                <div class="form-group">
                    <label for="masv">Mã sinh viên (<span style="color: red">*</span>):</label>
                    <input type="text" id="masv" class="form-control" placeholder="Mã sinh viên...">
                    <div class="invalid-feedback">Mã sinh viên không hợp lệ.</div>
                </div>
                <button class="btn btn-primary" id="btnScoreTable"> Gửi </button>
            </div>

        </div>

    </div>

    <div class="container fix-height handler-error">
        <span class="text-center mt-3">Thông tin đã được ghi nhận, vui lòng đóng popup này để quay lại cuộc trò chuyện.</span>
    </div>
</body>

</html>